.env
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl.bak
crash.log
*.tfplan
kubeconfig*
.DS_Store
.idea/
.vscode/
__pycache__/
.venv/
.ruff_cache/
apps/order-api/order-api
apps/order-api/order-api
